@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* use in homePage */
.homepage_bg {
  background: url('./assets/Images/bghome.svg');
}

.gradient_color {
  background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%),
    linear-gradient(0deg, #F1F2FF, #F1F2FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #767986f5;
}


/* loading spinner  */
.custom-loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: conic-gradient(#0000 15%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 0.6s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn)
  }
}


/* Loading skeleton */
.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  background-color: rgb(44 51 63 / 1);
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(111, 119, 131, 0) 0,
      rgba(143, 132, 132, 0) 20%,
      rgba(126, 139, 151, 0.5) 60%,
      rgba(25, 55, 99, 0));
  animation: shimmer 0.9s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}


/* used in Navbar */
.top {
  /* background: rgba(0, 0, 0, 0.25); */
  background: #222831a1;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.show {
  background-color: #020c1b;
}

.hide {
  transform: translateY(-60px);
}


.glass-bg {
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.84);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  background-color: #111927;
}



/* used in code block component for background  */
.code-block1-grad {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px/2 - 16.53px);
  top: calc(50% - 257.05px/2 - 17.47px);

  background: linear-gradient(123.77deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%);
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}


/* code block 2 bg gradient */
.code-block2-grad {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px/2 - 26.53px);
  top: calc(50% - 257.05px/2 - 17.47px);


  background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

/* code block card glass background */
.glass {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}




.code-border {
  background: linear-gradient(111.93deg,
      rgba(14, 26, 45, 0.24) -1.4%,
      rgba(17, 30, 50, 0.38) 104.96%)
}


/* used in home.jsx - random background  */
.opacity_layer_bg {
  background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
}

.line-height-32 {
  line-height: 32px;
}

.second:hover .second-hover\:visible {
  visibility: visible;
}

.second:hover .second-hover\:translate-y-\[1\.65em\] {
  --tw-translate-y: 1.65em;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.second:hover .second-hover\:opacity-100 {
  opacity: 1;
}

.font-sofia {
  font-family: 'sofia-pro' !important;
}

.follow-us-item {
  background-color: #FFF9F3;
  border-color: #FFE7D8;
  border-radius: 13px;
  overflow: hidden;
}

.follow-action a {
  background: linear-gradient(103deg, #FC6668 0%, #E10489 100%);
  border-radius: 8px;
}

.subscribe-button {
  background: linear-gradient(103deg, #FC6668 0%, #E10489 100%);
}

.wave-button {
  overflow: hidden;
}

.wave-button:after {
  content: '';
  position: absolute;
  left: -352px;
  top: 100%;
  background: url(./assets/images/wave-button.svg) repeat-x;
  width: 704px;
  height: 50%;
  z-index: 2;
  opacity: 0.4;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-animation: wave_button 4s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation: wave_button 4s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.wave-button:hover:after {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  top: 60%;
}

@keyframes wave_button {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translate(352px);
    transform: translate(352px);
  }
}

.market {
  font-size: 16px;
  position: relative;
  z-index: 2;
  padding: 45px 40px;
  min-height: auto;
  background: linear-gradient(135deg, #4776e6 0%, #8e54e9 100%);
  color: #fff;
  margin-top: 80px;
}

.subscribe {
  font-size: 16px;
  position: relative;
  z-index: 2;
  padding: 45px 40px;
  min-height: auto;
  background: linear-gradient(135deg, #4776e6 0%, #8e54e9 100%);
  color: #fff;
  margin-top: 80px;
}

.subscribe .epcl-waves {
  height: 70% !important;
}

.epcl-waves {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-height: 100px;
}

.subscribe .epcl-waves {
  top: auto;
  bottom: 0;
  height: 30%;
}

.epcl-parallax>use {
  -webkit-animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.epcl-parallax>use:first-child {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

.epcl-parallax>use:nth-child(2) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.epcl-parallax>use:nth-child(3) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(85px, 0, 0);
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes wave-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-wave {
  animation: wave-animation 10s linear infinite;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: #fff;
}